#login-form {
    margin-top: 20vh;
    width: 30vw;
    border: 2px solid rgb(200, 200, 200);
    border-top-left-radius: 35px;
    /* border-bottom-left-radius: 15px; */
    border-bottom-right-radius: 35px;
    padding: 10vh 10vh 10vh 10vh;
    background: rgb(235, 234, 234);
    box-shadow: 
    inset 0 -3em 3em rgba(0,0,0,0.1), 
          /* 0 0  0 2px rgb(255,255,255), */
          0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}
