<nav class="green darken-1">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo left">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/clients">Clients</a></li>
            <li><a href="/projects">Projects</a></li>
            <li class="active"><a href="/sessions">Sessions</a></li>
        </ul>
    </div>
</nav>