<div id="secret" class="container">
    <div class="center">
        <div class="row">
            <p>{{date}}</p>
        </div>
        <div class="row">
            <p>{{today}}</p>
        </div>
        <div class="row">
            <h4>Welcome, {{ currentUser.fullname }} |#|-> </h4>
            <h4>Username: {{ currentUser.username }}</h4>
        </div>
    </div>
    <div class="row mt-5">
        <h1>Project & User Session Tracking Dashboard </h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde sunt quaerat cumque impedit assumenda consectetur asperiores, eligendi fuga corporis molestiae magnam ducimus nobis quidem sed est. A voluptatem facere ipsum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente sequi odit mollitia consequuntur ipsa! Sapiente unde fugiat nulla necessitatibus dolorem veniam omnis beatae vel dignissimos? Optio sint nulla recusandae a quod, quaerat quas exercitationem, quia, quasi maxime sequi alias expedita.</p>
    </div>
</div>