<div id="secret" class="container">
    <div class="center">
        <div class="row">
            <h4>Welcome, {{ currentUser.fullname }} |#|-> </h4>
            {{!-- <h4> <span>  #  </span> </h4> --}}
            <h4>Username: {{ currentUser.username }}</h4>
        </div>
    </div>
</div>