<!-- Begin form -->
<div class="row" id="form-row">

    <div class="col-5">
        <div class="container">
            <form action="/users/index" method="post" id="login-form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name = "username" type="username" class="form-control" aria-describedby="emailHelp"
                        placeholder="Enter Username...">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name = "password" type="password" class="form-control" placeholder="Enter Password...">
                </div>
                <button type="submit" class="btn btn-dark btn-lg btn-block" id="login-button">Login</button>
            </form>
        </div>
    </div>
    <!-- End form -->

    <div class="col-6" id="member-message">
        <h2>Not a member yet?</h2>
        <p id="message-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, sapiente nobis aut
            mollitia officia quae quidem praesentium at ad odit facilis necessitatibus nostrum nesciunt! Debitis beatae
            quam rem assumenda ea?</p>
         {{!-- <a href="/users/register"></a><button class="btn btn-dark btn-lg" id="new-account-button">Create New Account</button></div></div></a> --}}
         <a class = "btn btn-dark btn-lg" href="/users/register">Create new account</a>
    </div>