<div class="login-container container">
    <div class="row">
        <div class="col s12 center">
            <h3>Welcome, Please Login</h3>
            <br>
            <form action="/users/login" method="post">
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input name="username" type="text" id="username" placeholder="Enter Username">
                        <label for="username">Username:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <input name="password" type="password" id="password" placeholder="Enter Password">
                        <label for="password">Password:</label>
                    </div>
                </div>

                <button class="waves-effect waves-light btn green darken-1" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>