<div id="secret">
    <div class="container center">
        <div class="row">

            <h2>Welcome to the Auth Page</h2>
            <h4>Thank you for Logging In</h4>

            <div class="button_select">
                <a href="/clients">
                    <button class="waves-effect waves-light btn green darken-1">View Clients</button>
                </a>
                <a href="/projects">
                    <button class="waves-effect waves-light btn green darken-1">View Projects</button>
                </a>
                <a href="/sessions">
                    <button class="waves-effect waves-light btn green darken-1">View Sessions</button>
                </a>
            </div>
        </div>
    </div>
</div>