<div class="projects-container">
    <div class="project-form">
        <h1>Start New Session</h1>
        <form action="/api/session/create" method="post">
            <label for="client_id">Select Project From List</label>
            <select id="client_id">
                {{#each allProjects }}
                <option value="{{ this.title }}">{{ this.title }}</option>
                {{/each }}
            </select>
            <button type="submit">Start Session</button>
        </form>
    </div>
</div>  