<div class="session-form">
    <h2>Complete Current Session</h2>
    <hr>
    <form action="/api/session/{{ single._id }}?_method=PUT" method="POST">
        <p>Session ID: {{ single._id }}</p>
        <label for="session_notes">Session Notes:</label>
        <input type="textarea" name="session_notes" placeholder="Enter notes for current session">
        <button class="waves-effect waves-light btn" type="submit">End Session</button>
    </form>
</div>