<div class="projects-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Start New Session</h3>
                <form action="/sessions/create" method="post">
                    <div class="form-group col-md-10">
                        <label for="proj_id">Select Project From List</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-group col-md-10">
                        <select id="proj_id" name="proj_id">
                            <option value="" disabled selected>Select Project</option>
                            {{#each allProjects }}
                            <option value="{{ this._id }}">Proj Title: {{ this.title }} | Proj-Id : {{this._id}}</option>
                            {{/each }}
                        </select>
                    </div>
                    <div class="form-group col-md-10">
                        <input id="proj_title" type="text">
                        <label for="project-title">Project Title</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Start Session</button>
                </form>
            </div>
        </div>

    </div>
</div>  