<div class="session-form">
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <h5>Current Session Info:</h5>
                <hr>
                <p>Session ID: {{ single._id }}</p>
                <p>Project ID: {{ single.project_id }}</p>
                <form action="/sessions/{{ single._id }}?_method=PUT" method="POST">
                    <div class="input-field col s12">
                        <textarea placeholder="Enter notes for current session" class="materialize-textarea" name="session_notes" ></textarea>
                        <label for="session_notes">Session Notes:</label>
                    </div>

                    <button class="waves-effect waves-light btn right green darken-1" type="submit">End Session</button>
                </form>
            </div>
            <div class="counter">
                <h3>Current Session: <span id="time"></span></h3>
                <button id="stop">Stop</button>
            </div>
        </div>
        
    </div>

    <script>

        let time = document.getElementById('time');
        let stopBtn = document.getElementById('stop');

        let count = 0;
        let timerId = setInterval( () => {
            count++;
            console.log(count);
            time.textContent = count;
        }, 1000);

        stopBtn.addEventListener('click', () => {
            console.info("Clicked");
            clearInterval(timerId);
        })


    </script>
</div>