<div class="edit-container">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h3>Edit Client</h3>
                <form action="/clients/{{ item._id }}?_method=PUT" method="post">
                    <div class="row">
                        <div class="input-field">
                            <input type="text" name="client_name" value="{{ item.name }}" class="validate">
                            <label for="client_name">Client Account Name:</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="client_contact" value="{{ item.contact }}">
                            <label for="client_contact">Client Contact:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="/clients"><button class="btn btn-warning">Cancel</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

